body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    background-color: #cfcfcf;
    box-sizing: border-box;
}

.container {
    flex-basis: 400px;
    min-height: 600px;
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
}

.container div {
    box-sizing: border-box;
    max-width: 100px;
    height: 100px;
    flex: 1 1 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    border: 2px solid black;
}

#display {
    flex-basis: 400px;
    max-width: 400px;
}

.container .clear,
.container .equals {
    flex: auto;
    max-width: 200px;
}